<div class="logo">
    <a routerLink="/"><img class="hover-rotate" src="assets/images/leo-2015-04-02.jpg" /></a>
</div>
<div class="text-center">
    <div class="menu-toggle">
        <span (click)="toggleMenu=!toggleMenu"><span *ngIf="!toggleMenu">[ = ]</span><span *ngIf="toggleMenu">[ x ]</span></span>
    </div>
    <div class="d-inline-block bg-white-50 mobile-width animation" [ngClass]="{'navbar-fixed-pos':renderFixedMenu}">
            <nav class="navbar navbar-expand-lg navbar-light p-none">
                <a *ngIf="renderFixedMenu" class="logo-small-a"><img src="assets/images/lcl-logo-small.png" /></a>
                
                <div class="collapse navbar-collapse" [ngClass]="{'show':toggleMenu}" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto"  (click)="toggleMenu=false">
                        <li class="nav-item" routerLink="/portfolio" routerLinkActive="active">
                            <a class="nav-link">Portfolio</a>
                        </li>
                        <li class="nav-item" routerLink="/resume" routerLinkActive="active">
                            <a class="nav-link">Resume</a>
                        </li>
                        <li class="nav-item" routerLink="/contact" routerLinkActive="active">
                            <a class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item" routerLink="/bookmark" routerLinkActive="active">
                            <a class="nav-link">Bookmark</a>
                        </li>
                    </ul>
                </div>
            </nav>
    </div>
</div>