.logo {
    margin: 2em;
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}
.hover-rotate{
	transition:all 10s ease;
}
.hover-rotate:hover{
	-moz-transform:rotate(330deg);
	-webkit-transform:rotate(330deg);
	transform:rotate(330deg);
}
.hover-rotate:active,.hover-rotate:focus{
	-moz-transform:scale(2.5);
	-webkit-transform:scale(2.5);
	transform:scale(2.5);
}
.navbar-fixed-pos {
    position: fixed;
    top: 30px;
    background-color: white;
    z-index: 999;
    transform: translateX(-50%);
    border: 1px solid #666;
    @media screen and (max-width: 992px) {
        position: relative;
        transform:none;
    }
}
.logo-small-a {
    img {
        width:50px;
        height:50px;
    }
    @media screen and (max-width: 992px) {
        display:none;
    }
}
.navbar li {
    padding: .5em 1em;
    cursor: pointer;
    cursor: hand;
    &.active {
        background-color: white;
        a {
            color: #fa7c00;
        }
    }
    &:hover {
        color: black;
        background-color: white;
    }
}
.menu-toggle {
    display:none;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1em;
    @media screen and (max-width: 992px) {
        display: block;
    }
    span {
        cursor: pointer;
        cursor: hand;
    }
}
.navbar-collapse {
    transition: .5s max-height ease;
    @media screen and (max-width: 992px) {
        max-height: 0;
        display: inline-block;
        overflow:hidden;
        &.show {
            max-height: 300px;
        }
    }
}

.mobile-width {
    width: auto;
    @media screen and (max-width: 992px) {
        width: 95%;
        max-width: 300px;
    }
}
