<div class="position-relative">
    <ul class="nav nav-tabs" [ngClass]="{'loading': uiHandler.isLoading}">
        <li *ngFor="let tab of uiHandler.tabs"
            class="text-capitalize"
            [ngClass]="{'active': tab.active, 'loading': uiHandler.isLoading}"
            (click)="setActiveTab(tab)">
            {{tab.name}}
        </li>
    </ul>
    <span class="loader-inline" *ngIf="uiHandler.isLoading"></span>
    <div class="active-content" [ngSwitch]="uiHandler.activeTab">
        <div *ngSwitchCase="'portfolio'">
            <admin-portfolio [tab]="getTab(uiHandler.activeTab)" (onSave)="updateData($event)"></admin-portfolio>
        </div>
        <div *ngSwitchCase="'resume'">
            <admin-resume [tab]="getTab(uiHandler.activeTab)" (onSave)="updateData($event)"></admin-resume>
        </div>
        <div *ngSwitchCase="'bookmark'">
            <admin-bookmark [tab]="getTab(uiHandler.activeTab)" (onSave)="updateData($event)"></admin-bookmark>
        </div>
        <div *ngSwitchCase="'message'">
            <admin-message [tab]="getTab(uiHandler.activeTab)" (onSave)="updateData($event)"></admin-message>
        </div>
    </div>
</div>