img {
    width: 100%;
    &.status-icon {
        width: 25px;
        height: 25px;
        vertical-align: text-bottom;
    }
}
table {
    width: 100%;
    tr {
        td {
            text-align: left;
            padding: .3em;
        }
        td:first-child {
            vertical-align: top;
            width: 50px;
        }
    }
}
.site-screenshot-div {
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 220px;
    @media screen and (max-width: 992px) {
        height: 300px;
    }
}
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.fixed-height {
    border-radius: 10px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}