<div class="text-right mts mbm" *ngIf="!tab.isLoading && tab.data">
    <span class="toggle-btn">
        <button class="btn" [ngClass]="{'btn-success':uiHandler.ui}" (click)="uiHandler.ui=true">UI</button>
        <button class="btn" [ngClass]="{'btn-success':!uiHandler.ui}" (click)="uiHandler.ui=false">RAW</button>
    </span>
    <button class="btn btn-primary" [disabled]="tab.isSaving" (click)="save(tab)">Save</button>
</div>
<textarea *ngIf="!uiHandler.ui" #textareaElm class="form-control font-code json">{{(tab.data | json )}}</textarea>