.upload-content {
    position: fixed;
    top:1em;
    right: 1em;
    background-color: white;
    padding: 1em;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 3px 3px 10px;
    font-size: 12px;
    table {
        width: 100%;
        td:first-child {
            input {
                width: 220px;
            }
        }
    }
    .result {
        height: 148px;
        img {
            max-width: 80px;
        }
        textarea {
            font-size: 12px;
            margin: 1em 0;
        }
    }
    .controls {
        button {
            font-size: 12px;
        }
    }
}