<h3 class="pg-title"><b>- Journey -</b></h3>
<span class="loader" *ngIf="isLoading"></span>
<div *ngIf="errorMessage">
    <p class="alert alert-danger">{{errorMessage}}</p>
</div>
<div *ngIf="!isLoading && resumeData.experience?.length" class="row mam pal mtl text-left bg-white auto-opacity" (mouseover)="!isReady && setSkillBar()">
    <div class="col-md-8">
        <h4>Experience</h4>
        <span class="under-line-short"></span>
        <div class="mhl phs">
            <div *ngFor="let exp of resumeData.experience" class="mbl">
                <h3 class="dark-gray"><b>{{exp.company}}</b></h3>
                <div><b>{{exp.title}}</b> <span class="badge mvs" [ngClass]="{'badge-success':exp.duration?.isPresent, 'badge-info':!exp.duration?.isPresent}">{{exp.duration?.display}}</span></div>
                <div class="company-tasks">
                    <ul class="mtm prm">
                        <li *ngFor="let task of exp.tasks">
                            <div *ngIf="task.url; else taskDisplayOnly">
                                {{task.name}} - <a [href]="task.url" target="_blank">{{task.url}}</a>
                            </div>
                            <ng-template #taskDisplayOnly>
                                {{task.display}}
                            </ng-template>
                        </li>
                    </ul>
                    <div class="mtm plm" *ngIf="exp.clients">
                        <div *ngFor="let client of exp.clients;let i = index">
                            <div><span class="dark-gray"><b>{{client.company}}</b></span></div>
                            <div>{{client.title}} <span class="badge badge-secondary mvs">{{client.duration?.display}}</span></div>
                            <ul class="prm">
                                <li  *ngFor="let cTask of client.tasks">{{cTask.display}}</li>
                            </ul>
                            <hr *ngIf="i != exp.clients.length-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Skills</h4>
        <span class="under-line-short"></span>
        <div class="mhm phs">
            <div *ngFor="let skill of resumeData.skill; let i = index">
                <div class="mtm">{{skill.group}}</div>
                <div *ngFor="let s of skill.skills"
                     class="skill-bar bar-{{s.level}}"
                     [ngClass]="{'bar-zero': !isReady, 'bg-blue': i==1, 'bg-orange': i==2 }">
                     {{s.name}}
                     <span *ngIf="s.focused"><img src="assets/images/icon/running.png" class="skill-focused"/></span>
                     <span class="float-right" [ngClass]="{'bar-percent-ready':isReady}">{{s.level}}%</span>
                </div>
            </div>
        </div>
        <app-contact inlineForm="true" description="I am looking for a change and open for any job opportunity!"></app-contact>
    </div>
</div>
