$orange-color : #fa7c00;
hr {
    width: 50%;
    margin: 1em;
}
.company-tasks {
    border-left: 3px solid #666;
    transition: .5s all ease;
    @media screen and (max-width: 992px) {
        border-left: 3px solid $orange-color;
    }
    &:hover {
        border-left: 3px solid $orange-color;
    }
}
.resume-download {
    a {
        font-size: 12px;
        img {
            width: 50px;
        }
    }
    margin-bottom: 2em;
}
.skill-bar {
    margin: 5px 0;
    color: rgb(16, 126, 49);
    background-color: rgba(196, 238, 161, 0.933);
    border-radius: 5px;
    transition: 1s all ease-in-out;
    width: 0;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    height:30px;
    overflow:hidden;
    white-space: nowrap;
    span {
        opacity: 0;
        transition: 1s all ease-in;
        &.bar-percent-ready {
            opacity: 1;
        }
    }
    .skill-focused {
        width: 20px;
        margin-left: 5px;
        float: right;
    }
    &.bg-blue {
        color: rgb(18, 79, 193);
        background-color: rgba(152, 196, 244, 0.933);
    }
    &.bg-orange {
        color: rgb(223, 135, 3);
        background-color: rgba(254, 235, 187, 0.933);
    }
    &.bar-95 {
        width:95%;
    }
    &.bar-90 {
        width:90%;
    }
    &.bar-85 {
        width:85%;
    }
    &.bar-80 {
        width:80%;
    }
    &.bar-75 {
        width:75%;
    }
    &.bar-70 {
        width:70%;
    }
    &.bar-65 {
        width:65%;
    }
    &.bar-60 {
        width:60%;
    }
    &.bar-zero {
        width:30%;
    }
}

@media screen and (max-width: 992px) {
    .row {
        padding: 1em .3em;
    }
}