<div class="assets-manager">
    <h5 class="text-center">Assets Manager</h5>
    <!-- tab-->
    <ul class="nav nav-tabs">
        <li [ngClass]="{'active': tabs['asset'].active}" (click)="setActiveTab('asset')">{{tabs['asset'].name}}</li>
        <li [ngClass]="{'active': tabs['fa'].active}" (click)="setActiveTab('fa')">{{tabs['fa'].name}}</li>
        <li [ngClass]="{'active': tabs['upload'].active}" (click)="setActiveTab('upload')">{{tabs['upload'].name}}</li>
    </ul>
    <!-- content -->
    <div class="content-body assets" *ngIf="tabs['asset'].active">
        <select class="form-control" [(ngModel)]="assets.selected">
            <option value="icon">Icons</option>
            <option value="image">Images</option>
            <option value="upload">Upload</option>
        </select>
        <div class="text-center img-preview">
            <img *ngIf="previewAsset()" [src]="previewAsset()" />
        </div>
        <div class="fileList">

        </div>
    </div>    
    <div class="content-body" *ngIf="tabs['fa'].active">
        font awesome
    </div>
    <div class="content-body" *ngIf="tabs['upload'].active">
        <table>
            <tr>
                <td>
                    <input type="file" id="file" name="file" (change)="onUploadFile($event.target.files)" />
                </td>
                <td>
                    <button (click)="uploadFile()" [disabled]="!fileToUpload && !uploading">Upload</button>
                </td>
            </tr>
        </table>
        <hr>
        <div class="result text-center" *ngIf="uploading">
            Uploading <span class="loader-inline"></span>
        </div>
        <div class="result" *ngIf="!uploading">
            <div class="text-center" *ngIf="fileUrl">
                <img [src]="fileUrl" />
                <textarea class="form-control mhs" readonly>{{fileUrl}}</textarea>
            </div>
            <div class="alert alert-danger" *ngIf="error">
                <b>Fail to upload:</b><br>
                Please make sure file size is less than {{maxFileSize}} KB.
            </div>
            <div class="alert alert-warning" *ngIf="invalid">
                <b>Invalid File:</b><br>
                Please select an image file with file size less than {{maxFileSize}} KB.
            </div>
        </div>
    </div>
    <!-- control -->
    <hr>
    <div class="text-center controls">
        <button class="btn btn-primary mrs" (click)="use()" *ngIf="fileUrl">Use</button>
        <button class="btn btn-secondary" (click)="close()">Close</button>
    </div>
</div>
