<h3 class="pg-title"><b>- Resources -</b></h3>
<div *ngIf="locked" class="row mhm pal mtl text-center bg-white auto-opacity">
    <div class="col-md-12 disable-text-selection" *ngIf="retryCounter < retryAllowed;else tryAgain">
        <h3>This page is locked for private use</h3>
        <div>To unlock, please provide your passcode</div>
        <div class="keypad-section">
            <span *ngFor="let n of keypad" (click)="setValue(n)">{{n}}</span>
            <input [(ngModel)]="passcode" type="text" [disabled]="invalidPasscode" class="form-control mts text-center" [ngClass]="{'invalid':invalidPasscode}" />
            <button type="button" class="btn btn-secondary mhm" [disabled]="passcode.length === 0 || invalidPasscode" (click)="unlock()">Unlock</button>
        </div>
    </div>
    <ng-template #tryAgain>
        <div class="col-md-12">
            <h2 class="red">Please try again later.</h2>
        </div>
    </ng-template>
</div>
<div *ngIf="!locked" class="row mhm mtl text-center">
    <div class="col-md-12 pvs">
        <span class="loader" *ngIf="isLoading"></span>
        <div *ngIf="!isLoading">
            <button class="btn btn-danger" (click)="lock()">Lock this page</button>
            <button class="btn btn-warning" routerLink="/admin">Admin Login</button>
            <div class="accordion mhm">
                <div class="panel" *ngFor="let book of bookmark;">
                    <div class="panel-title" (click)="book._show=!book._show;">{{book.title}}</div>
                    <div class="panel-body" [ngClass]="{'show': book._show}">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 site_item"
                                 *ngFor="let link of book.sites">
                                <table>
                                    <tr>
                                        <td>
                                            <span *ngIf="!link.cssIcon && link.icon">
                                                <img [src]="link.icon.url" />
                                            </span>
                                            <fa *ngIf="link.cssIcon" [name]="link.cssIcon.css" [ngStyle]="{'color':link.cssIcon.color}"></fa>
                                        </td>
                                        <td><a [href]="link.url" target="_blank">{{link.name}}</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>