.keypad-section {
    width: 100%;
    max-width:310px;
    margin: 1em auto;
    span {
        display: inline-block;
        width:30%;
        padding: .8em;
        margin: 5px;
        border: 1px solid #999;
        cursor: pointer;
        cursor: hand;
        &:hover {
            background-color: rgb(244, 134, 0);
            color: white;
        }
    }
    input {
        transition: 1s all ease;
        font-size: 35px;
        font-weight: bold;
        color: #999;
        border: 0;
        &:focus {
            background-color: rgb(177, 233, 181);
        }
        &.invalid {
            background-color: red;
            color:white;
        }
    }
}

.accordion {
    .panel {
        margin: .5em 0;
        .panel-title {
            background-color: #cecece;
            border: 1px solid #999;
            padding: .5em;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
        }
        .panel-body {
            background-color:white;
            border: 1px solid #999;
            border-top:0;
            max-height: 0;
            padding: 0;
            transition: max-height .5s ease-out;
            overflow:hidden;
            &.show {
                max-height: 800px;
                @media screen and (max-width: 992px) {
                    max-height: 2000px;
                }
            }
            .site_item {
                padding: .3em 2em;
                text-align: left;
                table {
                    width: 100%;
                    td:first-child {
                        width: 30px;
                        padding: 2px;
                        img {
                            width: 100%;
                        }
                        fa {
                            font-size:1.7em;
                        }
                    }
                    td {
                        padding: 0;
                        a {
                            font-size: 20px;
                            padding: .3em .7em;
                            color: black;
                            font-weight: bold;
                            display: block;
                            overflow: hidden;
                            text-decoration: none;
                            &:hover {
                                background-color: rgb(68, 66, 64);
                                color: white;
                            }
                        }
                    }
                }

            }
        }
    }
}
