<div class="t-btn" (click)="start()">
    <img src="https://assets.thewan.ca/private/tesla-x-lined.png" />
</div>

<div class="t-overlay" [ngClass]="{'in':isActive.trans, 'show': isActive.show}">
    <div class="t-app" [ngClass]="{'in':showApp}">
        <div class="t-header">
            <table>
                <tr>
                    <td class="t-logo"><img src="https://assets.thewan.ca/private/tesla-x-lined.png" /></td>
                    <td><b>Tesla Web App</b></td>
                    <td class="t-close" (click)="end()">X</td>
                </tr>
            </table>
        </div>
        <div class="t-body">

        </div>
        <div class="t-footer">
            version: {{appVersion}}
        </div>
    </div>
</div>