<div class="t-btn" (click)="start()">
    <img src="https://assets.thewan.ca/private/tesla-x-lined.png" />
</div>

<div class="t-overlay" [ngClass]="{'in':isActive.trans, 'show': isActive.show}">
    <div class="t-app" [ngClass]="{'in':showApp}">
        <div class="t-header">
            <table>
                <tr>
                    <td class="t-logo"><img src="https://assets.thewan.ca/private/tesla-x-lined.png" /></td>
                    <td><b>Tesla Web App</b></td>
                    <td class="t-close" (click)="end()">X</td>
                </tr>
            </table>
        </div>
        <div class="t-body">
            <h3>Get Free Supercharging</h3>
            <p>
                You can use my referral link to get 1,500 free Supercharger kilometers on a new Tesla!
            </p>
            <p>
                <a href="http://ts.la/leo3745" target="_blank">http://ts.la/leo3745</a>
            </p>
            
        </div>
        <div class="t-footer">
            {{appVersion}}
        </div>
    </div>
</div>