<form class="login-form" (submit)="onSubmit()"  #loginForm="ngForm">
    <div class="mhl">
        <h4>Admin Portal Login</h4>
        <span class="under-line-short"></span>
    </div>
    <p>Please provide username and password below</p>
    <label for="username">
        <div>User ID:</div>
        <input class="form-control"
                type="text"
                id="username"
                name="username"
                autocomplete="on"
                [(ngModel)]="postData.username"
                required
                #username="ngModel"
                />
        <span class="error-message">
            <div *ngIf="username.touched && username.invalid" class="text-right">Please enter User ID</div>
        </span>
    </label>
    <label for="password">
        <div>Password:</div>
        <input class="form-control font-psw"
                type="password"
                id="password"
                name="password"
                autocomplete="off"
                [(ngModel)]="postData.password"
                required
                #password="ngModel"
                />
        <span class="error-message">
            <div *ngIf="password.touched && password.invalid" class="text-right">Please enter your password</div>
        </span>
    </label>
    <div class="text-center mhs">
        <label for="keep" class="mouse-click">
            <input id="keep"
                   name="keep"
                   [checked]="keepLoggedin"
                   (change)="keepLoggedin = !keepLoggedin"
                   type="checkbox"> <span class="mls font-xs">Keep logged in</span>
        </label>
        <button type="submit" [disabled]="loginForm.invalid || isSending || errorMessage" class="btn btn-primary" [ngClass]="{'btn-secondary':loginForm.invalid||errorMessage,'btn-primary':loginForm.valid}">Send<span *ngIf="isSending">ing <span class="loader-inline mhs"></span></span></button>
    </div>
    <p *ngIf="!isSending && errorMessage" class="text-center alert alert-danger mtm">
        <span class="font-s">{{errorMessage}}</span>
    </p>
</form>